<ion-header>
    <ion-toolbar>
        <ion-button slot="start" (click)="cerrarModal()" color="primary">
            Cerrar
        </ion-button>
        <ion-title>{{titulo.value | placeHolder}}</ion-title>
        <ion-button [disabled]="titulo.value.length<=1 || imagenPreview.length<=1" slot="end" (click)="crearPost()" color="primary">
            Crear post
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input [formControl]="titulo"></ion-input>
    </ion-item>

    <ion-item *ngIf="imagenPreview">
        <ion-img [src]="imagenPreview"></ion-img>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="block" (click)="seleccionarFoto()">
                    Seleccionar
                    <ion-icon name="image"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" expand="block" (click)="mostrarCamara()">
                    Camara
                    <ion-icon name="camera"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>