<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            PhotoApp
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-card *ngFor="let item of items | async">
        <ion-img [src]="item.img"></ion-img>
        <ion-card-header>
            <ion-card-title>{{item.titulo}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button color="primary">
                        Compartir
                        <ion-icon name="share-social"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

    <!-- fab placed to the top end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add" (click)="mostrarModal()"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>